{% load static %}
{% load question_tags %}

{% user_questions request as questions %}

<!-- Разметка корзины -->
<div class="card mb-3 text-bg-light shadow-lg">
    <div class="card-header">
      <h5 class="card-title">Вопросы</h5>
    </div>
    <ul class="list-group list-group-flush" id="questions-list">
      {% if questions %}
        {% for question in questions %}
          <li class="list-group-item">
            <a href="{% url 'questions:question' question.slug %}">{{ question.title }}</a>
          </li>
        {% endfor %}
      {% else %}
        <li class="list-group-item">
          <p>Вы еще не задавали вопросы</p>
        </li>
      {% endif %}
    </ul>
</div>    