{% load static %}
{% load otvets_tags %}

{% user_otvets request as item %}

<!-- Разметка корзины -->
<div class="card mb-3 text-bg-light shadow-lg">
    <div class="card-header">
      <h5 class="card-title">Вопросы и ответы</h5>
    </div>
    <ul class="list-group list-group-flush" id="questions-list">
      {% if item.questions %}
        {% for question in item.questions %}
          <li class="list-group-item">
            <a href="{% url 'questions:question' question.slug %}">{{ question.title }}</a>
            <ul class="list-group list-group-flush mt-2">
              {% for otvet in item.otvets %}
                {% if otvet.question == question %}
                  <li class="list-group-item">
                    {{ otvet.discription }}
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
      {% else %}
        <li class="list-group-item">
          <p>Вы еще не задавали вопросы</p>
        </li>
      {% endif %}
    </ul>
  </div>