{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container mt-5">
        <div class="card mb-4 custom-shadow">
            <div class="row">
                <!-- Миниатюры -->
                <div class="col-md-4 ">
                    <p class="product_id mt-3">id: {{ question.display_id }}</p>
                </div>
                <!-- Увеличить изображение в модальном окне -->
                <div class="modal fade" id="imageModal1" tabindex="-1"
                    aria-labelledby="imageModal1Label" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="imageModal1Label">Изображение 1</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Закрыть"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Описание товара -->
            <div class="card-body">
                <p class="card-text">Рейтинг: <strong>{{ question.rating }}</strong></p>
                <h5 class="card-title">{{ question.title }}</h5>
                <p class="card-text">{{ question.text   }}.</p>
                <a href="{% url "otvets:otvet_add" question.slug %}" class="btn btn-dark add-to-cart"> Ответить </a>
            </div>
        </div>
    </div>
{% endblock content %}